# logs
*.log

# cert
var/cert/pro*

# conf
etc/production.json

# builds
!srv/javascripts
!srv/stylesheets

# temporary
*.swp

# filesystem
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*~

# packages
node_modules
