doctype html
html
  head
    title messenger
    meta(charset='utf-8')
    meta(name='author', content='Bodo Kaiser')
    meta(name='keywords', content='messenger, walve, node, websocket')
    meta(name='description', content='real time messenger with node-walve')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')
  body
    header.navbar.navbar-default.navbar-fixed-top(role='navigation')
      div.navbar-header
        a.navbar-brand(href='/') messenger
    block content
    block scripts
